<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% load static %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<script src="{% static 'script.js' %}"></script>

<div class="admin"><a href="{% url 'admin:index' %}">管理</a></div>
<h1 class="title"><a href="{% url 'faqsystem:home' %}">常見問題</a></h1>

<form class="search-bar" method="GET" action="{% url 'faqsystem:home' %}">
	<input type="text" name="query" value="{{ request.GET.query }}">
	<input type="submit" value="Go!">
</form>

{% if faq_list %}
<div class="flex-container">
    {% for faq in faq_list %}
        <div class="entry" id="{{ forloop.counter }}">
            <form action="{% url 'faqsystem:home' %}" class="clicks-form" id="clicks-form-{{ forloop.counter }}" method="post">
            {% csrf_token %}
                <input type="submit" name="faq_id" value="{{ faq.id }}">
            </form>
            <div class="question" onclick="show({{ forloop.counter }}); update({{ forloop.counter }})">{{ faq.question_text|urlize }}<span class="author">{{ faq.author }}</span><span class="clicks" id="clicks-{{ forloop.counter }}">{{faq.clicks}}<i class="material-icons md-14">search</i></span></div>
            <div class="answer">{{ faq.answer_text|urlize }}</div>
            {% if faq.images_set.all %}
            {% for image in faq.images_set.all %}
            <img class="ansimg" src="{{ image.img.url }}" />
            {% endfor %}
            {% endif %}
            {% if faq.files_set.all %}
            {% for file in faq.files_set.all %}
            <a class="ansfile" href="{{ file.f.url }}" target="_blank">{{ file.filename }}</a>
            {% endfor %}
            {% endif %}
        </div>
    {% endfor %}
</div>
{% else %}
<div class="not-found">
    <span>え？？？なに？？？找不到欸QAQQQ</span>
</div>
{% endif %}
