body {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.admin {
    position: absolute;
    right: 0;
}

.admin > a {
    background: #f0fff0;
    border: none;
    cursor: pointer;
    padding:1vw 2vw;
    text-align: center;
    text-decoration: none;
    color: #778899;
}

.title {
    text-align: center;
}

.title > a {
	text-decoration: none;
    color: lightslategray;
}

.search-bar {
    text-align: center;
}

input[type=text] {
    width: 30%;
    padding:5px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color:#333;
}

input[type=submit] {
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.flex-container {
  display: flex;
  min-height: -webkit-fill-available;
  flex-direction: column;
  background-color: gainsboro;
}

.flex-container > div {
  background-color: aliceblue;
  width: 70%;
  margin: 0.5vw;
  align-self: center;
  text-align: center;
}

.question {
    cursor: pointer;
    padding: 0.5vw;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3; /* number of lines to show */
	-webkit-box-orient: vertical;
}

.author {
    /* display: none; */
    opacity: 0;
    position: absolute;
    font-size: 16;
    color: darkseagreen;
    right: 1vw;
}

.entry:hover .author {
    /* display: unset; */
    -webkit-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in;
    opacity: 1;
}

.answer {
    background-color: honeydew;
    padding: 1vw;
    font-size: 20px;
	display: none;
    margin: inherit;
    white-space: pre-wrap;
    text-align: left;
}

.ansimg {
    display: none;
    max-width: 95%;
    margin: inherit;
}

.ansfile {
    background: antiquewhite;
    color: darkcyan;
    margin: inherit;
    display: none;
    text-decoration: none;
}

.not-found {
    background: lavenderblush;
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
}

.not-found > span {
    position: relative;
    font-size: xxx-large;
    font-family: monospace;
    font-weight: bold;
    top: 30%;
}
